$Color1: #00C389;
$Color2: #001020;

.navbar-wrapper {
  width: 100%;
  height: 65px;
  background-color: rgba(30, 36, 44, 1);
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 200;

  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }

  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  .alert-exit {
    opacity: 1;
  }

  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .nav-show {
    display: none;
  }

  .nav-list {
    width: 60%;
    height: 100%;

    .sloy-mobile {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .nav-item-hide {
        display: none;
      }

      .nav-item {
        font-family: "Krub", sans-serif;
        position: relative;
        cursor: pointer;
        line-height: 21.6px;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: white;
        transition: .4s;
        padding-left: 12px;
        padding-right: 12px;

        &:hover {
          background-color: rgba(255,255,255,0.1);
          .submenu{
            display: block;
          }
          .submenu-contact{
            display: block;
          }
        }

        .submenu{
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          display: none;
          z-index: 100;
          left: 0;
          bottom: -107px;
          position: absolute;
          width: max-content;
          background-color: white;
          border-radius: 2px;
          .name{
            padding: 7px 20px 7px 10px;
            font-size: 16px;
            font-weight: 500;
            color: black;
            transition: 0.3s;
            z-index: 100;
            cursor: pointer;
            &:hover{
              background-color: #e0e0e0;
            }
          }
        }
        .submenu-contact{
          display: none;
          z-index: 100;
          left: 0;
          bottom: -70px;
          position: absolute;
          width: max-content;
          background-color: white;
          border-radius: 2px;
          .name{
            padding: 7px 20px 7px 10px;
            font-size: 16px;
            font-weight: 500;
            color: black;
            transition: 0.3s;
            z-index: 100;
            cursor: pointer;
            &:hover{
              background-color: #e0e0e0;
            }
          }
        }
      }

      .driver_btn {
        display: none;
      }

      .nav-title-mobile {
        display: none;
      }


    }
  }

  .mobile-left-side {
    display: flex;

    .driver_btn {
      background-color: rgba(244, 168, 80, 1);
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(35, 33, 42, 1);
      height: 65px;
      width: 215px;
      font-weight: 600;
      font-size: 16px;
      line-height: 21.6px;
      font-family: "Krub", sans-serif;
      transition: 0.3s linear;

      &:hover{
        background-color: rgb(205, 140, 68);
      }

      &:focus {
        outline: none;
      }

      img {
        margin-right: 15px;
      }
    }

    .icons-social-media {
      margin-right: 25px;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }

      img {
        width: 20px;
        margin-right: 15px;
        transition: 0.2s;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    width: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);


    .nav-list {
      z-index: 120;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: .4s;
      border-radius: 5px;
      background-color: rgb(0, 0, 0, 0.5);
      display: flex;
      justify-content: flex-end;

      .sloy-mobile {
        width: 80%;
        height: max-content;
        background-color: white;
        display: block;
        padding-left: 25px;
        padding-bottom: 25px;

        .nav-item-hide {
          margin-top: 30px;
          padding-right: 30px;
          display: flex;
          justify-content: flex-end;

          img {
            width: 25px;
          }
        }

        .nav-item {
          margin-top: 20px;
          font-size: 20px;
          color: $Color2;
          line-height: 21px;
        }

        .nav-title-mobile {
          display: block;
          color: $Color1;
          font-weight: 700;
          font-size: 22px;
          margin-top: 25px;
        }

        .driver_btn {
          margin-top: 20px;
          width: max-content;
          cursor: pointer;
          padding: 15px 25px 15px 25px;
          border: none;
          background-color: $Color1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          border-radius: 8px;

          &:focus {
            outline: none;
          }

          img {
            margin-right: 15px;
          }
        }

        .bttns-mobile {
          margin-top: 20px;
          display: block;

          .app-btn {
            margin-top: 10px;
            width: 160px;
            height: 50px;
            padding-left: 15px;
            background-color: $Color2;
            color: white;
            display: flex;
            align-items: center;
            border-radius: 5px;

            .left {

            }

            .right {
              margin-left: 10px;

              .top-text {
                font-size: 12px;
                line-height: 10px;
              }

              .bottom-text {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .hide {
      left: -120%;
    }

    .nav-show {
      display: flex;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .mobile-left-side {
      .driver_btn {
        display: none;
        font-size: 14px;
        padding: 5px 20px 5px 20px;
      }
    }
  }
}